language: node_js
node_js:
- '10'
cache:
  directories:
  - node_modules
before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH="$HOME/.yarn/bin:$PATH"
before_script:
- yarn lint
script:
- yarn test
- yarn build
after_success: yarn coverage
